<h1>Hey, I'm in the view!</h1>

<h2>Hello there, <%= @name %> <h2>

<% (1..@dancers).each do |i| %>
    <img src="https://64.media.tumblr.com/9360f46d548d90e239107c914fb3e490/tumblr_inline_o3gm0jWVis1tmvypt_250.gifv">
<% end %>

<a href="gritty">The best thing you've ever seen</a>